<!doctype html>
<html lang="en" ng-app="roomTaken">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
    
  <meta name="author" content="Valentin Kirilov">
  <meta name="description" content="">
  <!-- Styles -->
<!--  <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel='stylesheet' id='prettyphoto-css'  href="css/prettyPhoto.css" type='text/css' media='all'>
  <link href="css/fontello.css" type="text/css" rel="stylesheet">
  <!--[if lt IE 7]>
          <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">  
      <![endif]-->
  <!-- Google Web fonts -->
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
  body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style>
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <!-- Bootstrap -->
  <!--<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    
  <!-- Custom styles for this template -->
  <!--<link href="styles/templates/starter-template.css" rel="stylesheet">-->
    
  <!-- Some styles that are comming from the omnibox.js -->
  <!--<link href="libs/omnibox/omnibox.css" rel="stylesheet" />-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    
    <!-- Put the code from the template here -->
    <div class="" ng-controller="GlobalCtrl">
   
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top"><img src="img/logo.png" width="201" /></a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="portfolio" href="index.html" class="alyzarin">Начало</a></li>
                
                <li><a title="team" href="#team" class="emerald ">Стаи</a></li>
                <li><a title="contact" href="#contact" class="petermannriver">Контакти</a></li>				
                  
                <li ng-show="user.isLogged == false"><a title="Вход" href="#/login" class="sunflower">Вход</a></li>
				<li ng-show="user.isLogged"><a title="Излез" ng-click="logout()" class="sunflower">{{ user.username }}</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>Roomico!</span> Намерете перфектното място за Вас.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
                <div class="searchbox">
                  <input type="text" ng-model="search.text" search-key-up="changeSearchInput()" 
                         placeholder="@Учител, #Предмет, *Стая" class="cform-text">
                  <input class="cform-submit" type="submit" value="GO" ng-click="changeSearchInput()" />
                </div><!-- /input-group -->
				<div class="center-block">
                <ul id="autocorrect" class="searchbox">
                    <li ng-repeat="keyword in keywords">{{ keyword.type }} {{ keyword.text }} <a ng-click="removeKeyord(keyword)" class="close"> &times;</a></li>
                </ul>
                </div>
                <div class="row text-center" id="radio">
                    <input type="radio" id="type-free" class="active" name="search-type" ng-model="search.type"  
                           value="schedule" selected="selected" /> 
                    <label for="type-schedule" class="radio" translate>Разписание на зали</label>
                    <input type="radio" id="type-free" name="search-type" ng-model="search.type" value="free" /> 
                    <label for="type-free" translate>Свободни зали</label>
				</div>
				
            </div>
          </div>
        </div>
        </div>
      </header>
    </div>
	<!--END TEMPLATE-->
    

      
      <div ng-view></div>
      <div class="message {{ message.visible }} {{ message.type }}">{{ message.text }}</div>

    </div><!-- /.container -->
    
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="libs/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  
<script src="libs/TweenMax.min.js"></script>    
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular/angular-route.js"></script>
  <script src="libs/angular/angular-cookies.js"></script>
  <script src="libs/angular/angular-animate.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/services/AuthService.js"></script>
  <script src="js/services/LanguageService.js"></script>
  <script src="js/services/ResourceSevice.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script src="libs/ui-bootstrap-tpls-0.10.0.min.js"></script>
    
  <script src="libs/angular-gettext/dist/angular-gettext.min.js"></script>
  <script src="js/translations.js"></script>
    
  <!-- Restangular lib -->
  <script src="libs/underscore-min.js"></script>
  <script src="libs/restangular/src/restangular.js"></script>
  
  <!-- Lets add some cool animations -->
  
  <script src="libs/ng-Fx/dist/ng-Fx.min.js"></script>
    
<!--  <script src="libs/omnibox/omnibox.js"></script>-->
  
    
  
</body>
</html>
