<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block"  style="float: none; margin: auto; padding: 10px;">
        <div ng-repeat="room in schedule" class="room fx-fade-up fx-easing-bounce fx-speed-800">
            <div class="header">
                <div class="name">{{ room.name }}</div>
                <div class="number">{{ room.number }}</div>
                <div class="clearfix"></div>
            </div>
            <div class="content">
                <br />
                
                <span class="text-right">Дата:</span> {{ room.from_date | date : 'longDate' }} <br />
                <span class="text-right">От:</span> {{ room.from_date  | date : 'HH:mm'  }}<br />
                <span class="text-right">До:</span> {{ room.to_date | date : 'HH:mm' }}<br />
                
                <br />
                <button type="button" class="btn btn-success center-block" ng-click="reserveRoom(room)">Запази стаята</button>
            </div>
            <div class="clearfix"></div>
            <div class="status free"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
