<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block"  style="float: none; margin: auto; padding: 10px;">
        <div ng-repeat="room in schedule | filterSeats : filter.seats" class="room fx-fade-up fx-easing-bounce fx-speed-800">
            <div class="header">
                <div class="name">{{ room.name }}</div>
                <div class="number">{{ room.number }}</div>
                <div class="clearfix"></div>
            </div>
            <div class="content">
                
                <span class="text-right">Вместимост:</span> {{ (filter.seats) ? filter.seats+' /' : ''  }} {{ room.seats }} места<br />
                
                <br />
                <button type="button" class="btn btn-success center-block" ng-click="reserveRoom(room)" style="margin-top: 130px;border-radius: 0px;padding-top: 0px; background: #999999 !important; font-family: Orpheus; font-size: 14px;">Запази стаята</button>
            </div>
            <div class="clearfix"></div>
            <div class="status free"></div>
        </div>
    </div>
</div>
