<br />
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="search.text" placeholder="Type your search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<br />
<input type="radio" ng-model="search.type" value="0" /> <span translate>Everything</span>
<input type="radio" ng-model="search.type" value="1" /> <span translate>Teacher</span>
<input type="radio" ng-model="search.type" value="2" /> <span translate>Room</span>
<input type="radio" ng-model="search.type" value="3" /> <span translate>Group</span>
<br />
{{ search.type  }} : {{ search.text }}
<br />
Results:
<br />

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block"  style="float: none; margin: auto; padding: 10px;">
        <div ng-repeat="room in shedule" class="room fx-fade-up fx-easing-bounce fx-speed-800">

            <div class="header">
                <div class="name">[NAME]</div>
                <div class="number">{{ room.room }}</div>
                <div class="clearfix"></div>
            </div>
            <div class="content">
                <span class="text-right">Предмет:</span> Предет<br />
                <span class="text-right">Лектор:</span> Лектор<br />
                <br />
                <span class="text-right">Дата:</span> дата <br />
                <span class="text-right">От:</span> час<br />
                <span class="text-right">Да:</span> час<br />
            </div>
            <div class="clearfix"></div>
            <div class="status true"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
